.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    height: 4rem;
}
.nav-items > ul{
    display: flex;
}
.nav-items > ul > li {
    padding: 15px;
    list-style-type: none; 
}